.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  color: #001a33;
  font-size: 1.05vw;
  line-height: 1.5vw;
  padding: 0 32px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  p {
    margin: 8px 0;
  }
}

.banner_container {
  position: relative;
}

.banner_image {
  width: 100vw;
}

.banner_title {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.71) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.body_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .body_wrapper {
    margin-top: 0;
  }
}

.body_container {
  width: 50vw;
  padding: 0 16px;
}

@media screen and (max-width: 768px) {
  .body_container {
    padding: 8px;
    padding-bottom: 0;
  }
}

.body_video-container > div {
  width: 50vw;
  height: 30vw;
}

@media screen and (max-width: 414px) {
  .body_video-container {
    margin-top: 8px;
  }

  .body_video-container > div {
    width: 50vw;
    height: 35vw;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .body_video-container {
    margin-top: 24px;
  }

  .body_video-container > div {
    width: 50vw;
    height: 35vw;
  }
}

.body_quote {
  color: #001a33;
  font-size: 1.05vw;
  line-height: 1.5vw;
}

.body_uppercase-character {
  font-size: 2vw;
}

.body_content-title {
  margin: 32px 0;
  text-align: center;
  font-size: 2.2vw;
  font-family: roboto;
  color: #560b1f;
  font-weight: bold;
  padding: 0;
}

@media screen and (max-width: 414px) {
  .body_content-title {
    margin: 8px 0;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .body_content-title {
    margin: 16px 0;
  }
}

.body_text-and-image-left-container {
  display: flex;
  position: relative;
}

.body_text-and-image-left-content-container {
  flex: 1;
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .body_text-and-image-left-content-container {
    margin-left: 8px;
  }
}

.body_text-and-image-right-container {
  display: flex;
  position: relative;
}

.body_text-and-image-right-content-container {
  flex: 1;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .body_text-and-image-right-content-container {
    margin-right: 8px;
  }
}

.body_text-and-image-left-container > img {
  /* margin-left: calc(-50vw / 6); */
  width: calc(40vw / 2);
}

.body_text-and-image-right-container > img {
  /* margin-right: calc(-50vw / 4); */
  width: calc(40vw / 2);
}

.body_text-and-image-content-left {
  color: #001a33;
  font-size: 1.05vw;
  line-height: 1.5vw;
  padding-right: 32px;
}

.body_text-and-image-content-right {
  color: #001a33;
  font-size: 1.05vw;
  line-height: 1.5vw;
  padding-left: 32px;
}

.body_image-full {
  width: 100%;
}

.body_footer-container {
  display: flex;
  background: #3f0000;
  padding: 24px;
  margin-top: 16px;
  width: 40vw;
  box-sizing: border-box;
}

.body_footer-container > p {
  color: #fff;
  padding: 0;
}

@media screen and (max-width: 414px) {
  .body_footer-container {
    margin-top: 16px;
    padding: 8px;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .body_footer-container {
    margin-top: 32px;
    padding: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .body_footer-container {
    margin-top: 32px;
    padding: 24px;
  }
}

.body_footer-container > p {
  margin: 0;
  font-size: 1.2vw;
}
