@font-face {
  font-family: "cherish";
  src: local("cherish"), url(./assets/font/cherish.ttf) format("truetype");
}

@font-face {
  font-family: "roboto-slab";
  src: local("roboto-slab"),
    url(./assets/font/roboto-slab.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto-slab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1111;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
