@font-face {
  font-family: "pacifico";
  src: local("pacifico"), url(./assets/font/pacifico.ttf) format("truetype");
}

@font-face {
  font-family: "playfair-display";
  src: local("playfair-display"),
    url(./assets/font/playfair-display.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: playfair-display;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e1111;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
